.searchBoxParent{
    background: #F8F7F8;
    width: 90%;
    margin: 2rem auto;
    display: flex;
    height: 4rem;
    justify-content: space-between;
}

.searchBoxContainer{
    background-color: #fff;
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 75%;
}

.searchInput{
    width: 95%;
    height: 90%;
    
    margin-left: 1rem;
    padding-left: .5rem;
    outline: none;
    border: none;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    
}

.searchIcon{
    
    font-size: 1rem;
    align-self: center;
    color: #cac4d0;
}