.modal{
    background-color: #fff;
    width: 80%;
    height: 80%;
    padding: 1rem 2rem;
    position: relative;
}

.cancelBox{
    background-color: #F45B49;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    border-radius: .3rem;
    color: #fff;
    cursor: pointer;
}

.modalHeader{
font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 41px;
    color: #000;
}

.innerInputBox{
    display: flex;
    flex-direction: column;
    width: 47%;
}

.msgContainer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.inputField{
    background: #F8F7F8;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    height: 2.5rem;
    padding-left: .5rem;
    font-family: Poppins, sans-serif;
    outline: none;
    margin-top: .5rem;
}

label{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 16px;
    color: #F45B49;
}

.inputFieldsBox{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

textarea{
    height: 6rem;
    margin-top: .5rem;
    background: #F8F7F8;
    border: 1px solid #E5E5E5;
    outline: none;
    padding-left: .5rem;
    padding-top: .3rem;
    border-radius: 4px;
}

.formBtnBox{
    margin-top: 2rem;
}