.musicSection{
    margin: 3rem auto ;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}


.backButton{
    color: #FB564C;
    cursor: pointer;
    max-width: 1240px;
    margin: auto;width: 90%;
    margin-top: 2rem;
}

.backArrow{
    font-size: 1rem;
}

.musicBox{
    height: 15rem;
    width:25%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}

.rightMusicBox{
    width: 70%;
}

.musicDetails{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.MusicName{
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 55px;
    font-family: Poppins, sans-serif;
    margin: 0;
    color: #000000;
}

.artistName{
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 27px;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.timesPlayed{
    font-style: normal;
    font-weight: 400;
    font-size: .9rem;
    line-height: 21px;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: #F45B49;
}

.trackDesc{
    margin-bottom: 0;
}

@media screen and (max-width: 865px){
    .MusicName{
        font-size: 2rem;
    }
    .artistName{
        font-size: 1rem;
    }
    .trackText{
        font-size: 1rem;
    }
}

@media screen and (max-width: 760px){
    
    .music{
        margin-bottom: 1rem;
    }
    .musicBox{
        height: 18rem;
        width: 28%;
        display: none;
    }
    .rightMusicBox{
        width: 100%;
        margin-right: 0;
    }
    .musicSection{
        display: block;
        width: 90%;
    }
}


@media screen and (max-width: 590px){
    .musicDetails{
            flex-direction: column;
        }
}